@charset "utf-8";
@import "~bulma/bulma";
@import "~bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "~bulma-slider/dist/css/bulma-slider.sass";
 
.oi[data-glyph]:before {
    top: .1rem
}

.button.is-text {
    text-decoration: none;
    border-radius: 0;
    border-bottom: 2px solid hsl(217, 71%, 53%);
}

.field-body > .field:not(:last-child) {
    margin-bottom: .75rem;
}

.field-body > .field > label {
    margin-left: -.2rem;
}

.tags {
    display: flex; 
    justify-content: center;
}


