@charset "utf-8";
@import "~bulma/bulma";
@import "~bulma-checkradio/dist/css/bulma-checkradio.sass";
@import "~bulma-slider/dist/css/bulma-slider.sass";
@import "~bulma-switch/dist/css/bulma-switch.sass";
 
.oi[data-glyph]:before {
    top: .1rem
}

.button.is-text {
    text-decoration: none
}

.field-body > .field:not(:last-child) {
    margin-bottom: .75rem;
}

.field-body > .field > label {
    margin-left: -.2rem;
}

.tags {
    display: flex; 
    justify-content: center;
}

.button.is-text:hover {
    background-color: hsl(217, 71%, 53%);
    color: white;
}


