body {
    font-family: 'Noto Serif SC', serif;
}

.card {
    border-radius: .2rem;
}

.card .card-content {
    padding: 1rem;
    padding-bottom: .5rem;
}

.card .card-content .title {
    border-bottom: none;
}

.card .card-content .subtitle {
    margin-bottom: 1rem;
}

.title {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #DBDBDB;
    position: relative;
    cursor: pointer;
    margin-top: 1.5rem;
}

.title span {
    margin-left: 1rem;
}

.control.has-icons-right .icon {
    pointer-events: auto;
    cursor: pointer;
}

.top {
    position: fixed;
    right: 4rem;
    bottom: 4rem;
}

